[workspace]
members = [
  "atrium-client",
  "atrium-core",
  "atrium-metrics",
  "atrium-server",
  "tests/behavior",
  "tests/toolkit",
  "xtask",
]
resolver = "2"

[workspace.package]
edition = "2024"
version = "0.1.0"

[workspace.dependencies]
# Workspace members
atrium = { path = "atrium-server" }
atrium-client = { path = "atrium-client" }
atrium-core = { path = "atrium-core" }
atrium-metrics = { path = "atrium-metrics" }
styled = { path = "crates/styled" }
tests-toolkit = { path = "tests/toolkit" }

# Crates.io dependencies
anstyle = { version = "1.0.10" }
base64 = { version = "0.22.1" }
bytes = { version = "1.10.1" }
clap = { version = "4.5.35", features = ["derive"] }
criterion = { version = "0.5.1", features = ["async_tokio"] }
error-stack = { version = "0.5", default-features = false, features = [
  "std",
  "serde",
] }
fastimer = { version = "0.8.0" }
fastrace = { version = "0.7.9" }
fastrace-opentelemetry = { version = "0.10.0" }
foyer = { version = "0.16.0", features = ["nightly"] }
humansize = { version = "2.1.3" }
indent = { version = "0.1.1" }
insta = { version = "1.42.2" }
jiff = { version = "0.2", features = ["serde"] }
local-ip-address = { version = "0.6.3" }
log = { version = "0.4.27", features = ["kv"] }
logforth = { version = "0.24.0", features = [
  "colored",
  "fastrace",
  "json",
  "opentelemetry",
  "rolling-file",
] }
mea = { version = "0.3.4" }
opentelemetry = { version = "0.29.1", features = ["trace", "metrics"] }
opentelemetry-otlp = { version = "0.29.0", features = [
  "trace",
  "metrics",
  "grpc-tonic",
] }
opentelemetry_sdk = { version = "0.29.0", features = [
  "trace",
  "metrics",
  "rt-tokio",
] }
poem = { version = "3.1.7" }
pretty-hex = { version = "0.4.1" }
pretty_assertions = { version = "1.4.1" }
regex = { version = "1.11.1" }
reqwest = { version = "0.12.15" }
scopeguard = { version = "1.2" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
tempfile = { version = "3.19.1" }
test-harness = { version = "0.3.0" }
thiserror = { version = "2.0" }
tokio = { version = "1.44.2" }
toml = { version = "0.8.20" }
unindent = { version = "0.2.4" }
urlencoding = "2.1.3"

[workspace.lints.rust]
unknown_lints = "deny"
unsafe_code = "deny"
unused_must_use = "deny"

[workspace.lints.clippy]
dbg_macro = "deny"
field_reassign_with_default = "allow"
manual_range_contains = "allow"
new_without_default = "allow"

[profile.release]
debug = true
lto = true
