[workspace]
members = [
  "atrium-client",
  "atrium-core",
  "atrium-server",
  "tests/behavior",
  "tests/toolkit",
  "xtask",
]
resolver = "2"

[workspace.package]
edition = "2024"
version = "0.1.0"

[workspace.dependencies]
# Workspace members
atrium-client = { path = "atrium-client" }
atrium-core = { path = "atrium-core" }
atrium = { path = "atrium-server" }
tests-toolkit = { path = "tests/toolkit" }

# Crates.io dependencies
base64 = { version = "0.22.1" }
bytes = { version = "1.10.1" }
clap = { version = "4.5.35", features = ["derive"] }
error-stack = { version = "0.5", default-features = false, features = [
  "std",
  "serde",
] }
fastrace = { version = "0.7.9" }
foyer = { version = "0.16.0", features = ["nightly"] }
indent = { version = "0.1.1" }
insta = { version = "1.42.2" }
local-ip-address = { version = "0.6.3" }
log = { version = "0.4.27", features = ["kv"] }
logforth = { version = "0.24.0", features = ["colored"] }
mea = { version = "0.3.4" }
poem = { version = "3.1.7" }
pretty_assertions = { version = "1.4.1" }
regex = { version = "1.11.1" }
reqwest = { version = "0.12.15" }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0" }
styled = { version = "0.2.0" }
tempfile = { version = "3.19.1" }
test-harness = { version = "0.3.0" }
thiserror = { version = "2.0" }
tokio = { version = "1.44.2" }
toml = { version = "0.8.20" }
unindent = { version = "0.2.4" }
urlencoding = "2.1.3"

[profile.release]
debug = true
lto = true
