[workspace]
members = ["atrium-core", "xtask"]
resolver = "2"

[workspace.package]
edition = "2024"
version = "0.1.0"

[workspace.dependencies]
bytes = "1.10.1"
clap = { version = "4.5.35", features = ["derive"] }
fastrace = "0.7.9"
foyer = "0.15.3"
indent = "0.1.1"
log = "0.4.27"
logforth = { version = "0.23.1", features = ["colored"] }
poem = "3.1.7"
pretty_assertions = "1.4.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
styled = "0.2.0"
tokio = "1.44.1"
unindent = "0.2.4"
